<br/>

<div class="aboutus">
  <h3>Về Giktuts</h3>
  Chúng tôi là team Giktuts, hiện tại có 3 thành viên chính.
  Và chúng tôi muốn xây dựng một website nơi mà các kỹ sư máy tính
  có thể học hỏi chia sẻ những công nghệ mới một cách hiệu quả và
  đơn giản nhất.

</div>

<hr/>

<h3>Team</h3>
<div class="row">

  <div class="col-lg-4">
    <h3>Long Nguyen</h3>
    <div class="longnguyen">
      Hiện tại đang là một kỹ sư phần mềm tại công ty Vinagility.
      Mình rất đam mê công nghệ, thích thảo luận và chia sẻ kiến
      thức. Hiện tại thì tập trung học hỏi nhiều hơn về Scala, một
      ngôn ngữ lập trình hàm. Và tính concurrency của Scala.
    </div>

      <%= image_tag "twitter.png", size: "24x24" %>
      <a href="http://twitter.com/vangnol">vangnol</a>

      <br/>
      <%= image_tag "github.png", size: "24x24" %>
      <a href="http://github.com/kimquy">kimquy</a>

      <br/>

      <%= image_tag "longnguyen.jpg", size: "170x200", class: "img-thumbnail" %>

  </div>


  <div class="col-lg-4">
    <h3>Tung Nguyen</h3>
    Dien cac thong tin ve Tung tai day
    <br/>
    <%= image_tag "twitter.png", size: "24x24" %>
    <a href="http://twitter.com/zazchor">zazchor</a>

    <br/>
    <%= image_tag "github.png", size: "24x24" %>
    <a href="http://github.com/zazchor">zazchor</a>
  </div>


  <div class="col-lg-4">
    <h3>Khanh Pham</h3>
    <div class="longnguyen">
      Hiện tại đang là một kỹ sư phần mềm tại công ty <a href="http://zigexn.vn/">ZIGExN VeNtura</a>
      .Mình rất đam mê công nghệ, thích thảo luận và chia sẻ kiến thức.
      Hiện tại thì tập trung học hỏi nhiều hơn về <a href="http://rubyonrails.org/">Ruby on Rails</a>, <a href="http://grails.org/">Groovy on Grails</a>.
    </div>

    <br />
    <%= image_tag "facebook.png", size: "24x24" %>
    <a href="http://facebook.com/phamkhanh1990">khanhpham</a>

    <br/>
    <%= image_tag "github.png", size: "24x24" %>
    <a href="http://github.com/khanhpn2013">khanhpham</a>

    <br />
    <%= image_tag "khanhpham.jpg", size: "290x200", class: "img-thumbnail" %>

  </div>
</div>

