<h3>Long Nguyen</h3>
Hiện tại đang là một kỹ sư phần mềm tại công ty Vinagility.
Mình rất đam mê công nghệ, thích thảo luận và chia sẻ kiến
thức. Hiện tại thì tập trung học hỏi nhiều hơn về Scala, một
ngôn ngữ lập trình hàm. Và tính concurrency của Scala.

<br/>
<%= image_tag "twitter.png", size: "24x24" %>
<a href="http://twitter.com/vangnol">vangnol</a>

<br/>
<%= image_tag "github.png", size: "24x24" %>
<a href="http://github.com/kimquy">kimquy</a>

<h3>Tung Nguyen</h3>
Dien cac thong tin ve Tung tai day
<br/>
<%= image_tag "twitter.png", size: "24x24" %>
<a href="http://twitter.com/zazchor">zazchor</a>

<br/>
<%= image_tag "github.png", size: "24x24" %>
<a href="http://github.com/zazchor">zazchor</a>


<h3>Ngoc Khanh</h3>
Dien cac thong tin ve Khanh tai day

<br/>
<%= image_tag "github.png", size: "24x24" %>
<a href="http://github.com/khanhpn2013">khanhpn2013</a>

