<br />
<% provide(:title, "Đăng xuất") %>

<legend>Đăng nhập vào gikTuts</legend>

<div class="row">
  <div class="span6 offset3">
    <%= form_for (:session, url: sessions_path) do |f| %>

      <% @my_errors = @session.errors.entries.map { |e| e[0]} %>
      <div>
         <%= f.label "Email của bạn" %>
         <%= f.text_field :email, class: @my_errors.include?(:email) ? "form-control error" : "form-control", placeholder: "Điền email của bạn", style: "width: 400px;"%>
         <% if @my_errors.include?(:email) %>
           <p class="show-error"><%= @session.errors.messages[:email][0] %></p>
         <% end %>
      </div>


      <div>
       <%= f.label "Mật khẩu của bạn" %>
       <%= f.text_field :password , class: @my_errors.include?(:password) ? "form-control error" : "form-control", placeholder: "Điền mật khẩu của bạn", style: "width: 400px;"%>
       <% if @my_errors.include?(:password) %>
         <p class="show-error"><%= @gik_user.errors.messages[:password][0] %></p>
       <% end %>
      </div>

     <br />
        <div>
        <%= f.submit "Tạo tài khoản", class: "btn btn-lg btn-primary"  %>
        </div>


    <% end %>
  </div>
</div>
