<% provide(:title, "Đăng nhập") %>

<br />
<legend>Đăng nhập vào tài khoản gikTuts</legend>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email %>

      <br />

      <%= f.label :password %>
      <%= f.password_field :password %>

      <br />

      <%= f.submit "Đăng nhập", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>Bạn chưa có tài khoản gikTuts, đăng ký ngay!<%= link_to "Đăng ký", signup_path %></p>
  </div>
</div>

