
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0018)http://molo.me/404 -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css" media="screen">.te_overflow{overflow:hidden !important}.te_dragging{cursor:move !important}#tu_overlay,.te_top_up{top:0;left:0}#tu_overlay{width:100%;height:100%;position:fixed;z-index:999}#temp_up{top:-9999px;z-index:-1}.te_transparent{opacity:0}.te_shaded{opacity:.65;background:black}.te_scrollable{overflow:auto}.te_top_up{position:absolute;z-index:1000}.te_top_up a{border:0}.te_top_up a:hover{border:0}.te_top_up .ui-resizable-se{position:absolute !important;background-color:transparent !important;border:0 !important}.te_wrapper{position:relative}.te_title{width:100%;color:white;font-family:"Lucida Grande", "Arial";font-size:11px;position:absolute;text-align:center;z-index:1001}.te_frame,#tu_center_wrapper{border-collapse:collapse}.te_frame tr,.te_frame td{margin:0;padding:0}.te_frame .te_left,.te_frame .te_middle,.te_frame .te_right{padding:0}.te_controls{position:absolute;z-index:1001}.te_close_link,.te_previous_link,.te_next_link{cursor:pointer}.te_close_link{position:absolute;z-index:1002}.te_previous_link,.te_next_link{display:block;float:left}#tu_center_wrapper{position:absolute;z-index:1000}#tu_loader{width:100%;height:100%;position:absolute;background:url(/images/top_up/loader.gif) no-repeat 50% 50%;display:block;z-index:1003} #top_up .te_dashboard .ui-resizable-se{width:10px !important;height:10px !important;bottom:12px !important;right:10px !important;background-image:url(images/top_up/dashboard/sprite.png) !important;background-position:0 0 !important}.te_dashboard .te_title{top:-15px;font-weight:bold;text-shadow:1px 1px 1px black}.te_dashboard .te_corner,.te_dashboard .te_rib{background-image:url(images/top_up/dashboard/sprite.png)}.te_dashboard .te_top,.te_dashboard .te_bottom{height:20px}.te_dashboard .te_left_filler{width:20px}.te_dashboard .te_right_filler{width:19px}.te_dashboard .te_middle .te_middle{background:url(images/top_up/dashboard/middle.png)}.te_dashboard .te_top .te_left{background-position:-17px -29px}.te_dashboard .te_top .te_middle{background-position:0 -71px}.te_dashboard .te_top .te_right{background-position:-33px -29px}.te_dashboard .te_middle .te_left{background-position:-17px -232px}.te_dashboard .te_middle .te_right{background-position:-33px -232px}.te_dashboard .te_bottom .te_left{background-position:-17px -47px}.te_dashboard .te_bottom .te_middle{background-position:-17px -89px}.te_dashboard .te_bottom .te_right{background-position:-33px -47px}.te_dashboard .te_content{margin:-11px -12px -11px -13px}.te_dashboard .te_controls{left:50%;width:63px;height:29px;margin-left:-33px;padding-left:5px;bottom:35px;background-image:url(images/top_up/dashboard/sprite.png);background-position:0 -178px}.te_dashboard .te_previous_link,.te_dashboard .te_next_link{width:31px;height:29px;background-image:url(images/top_up/dashboard/sprite.png)}.te_dashboard .te_previous_link{background-position:66px -113px}.te_dashboard .te_next_link{background-position:30px -113px}.te_dashboard .te_previous_link:hover{background-position:66px -142px}.te_dashboard .te_next_link:hover{background-position:30px -142px}.te_dashboard .te_close_link{width:28px;height:26px;top:-14px;right:-6px;background-image:url(images/top_up/dashboard/sprite.png);background-position:-20px 0} #top_up .te_quicklook .ui-resizable-se{width:10px !important;height:10px !important;bottom:12px !important;right:9px !important;background-image:url(images/top_up/quicklook/sprite.png) !important;background-position:-75px -181px !important}.te_quicklook .te_title{top:6px}.te_quicklook .te_corner,.te_quicklook .te_rib{background-image:url(images/top_up/quicklook/sprite.png)}.te_quicklook .te_top{height:24px}.te_quicklook .te_bottom{height:56px}.te_quicklook .te_left_filler,.te_quicklook .te_right_filler{width:12px}.te_quicklook .te_middle .te_middle{background:url(images/top_up/quicklook/middle.png)}.te_quicklook .te_top .te_left{background-position:0 0}.te_quicklook .te_top .te_middle{background-position:0 -30px}.te_quicklook .te_top .te_right{background-position:12px 0}.te_quicklook .te_middle .te_left{background-position:0 -181px}.te_quicklook .te_middle .te_right{background-position:12px -181px}.te_quicklook .te_bottom .te_left{background-position:0 -122px}.te_quicklook .te_bottom .te_middle{background-position:0 -61px}.te_quicklook .te_bottom .te_right{background-position:12px -122px}.te_quicklook .te_content{margin:0 -7px}.te_quicklook .te_controls{left:50%;width:66px;margin-left:-33px;bottom:18px}.te_quicklook .te_previous_link,.te_quicklook .te_next_link{width:31px;height:29px;margin:0 1px;background-image:url(images/top_up/quicklook/sprite.png)}.te_quicklook .te_previous_link{background-position:89px -195px}.te_quicklook .te_next_link{background-position:52px -195px}.te_quicklook .te_previous_link:hover{background-position:89px -226px}.te_quicklook .te_next_link:hover{background-position:52px -226px}.te_quicklook .te_close_link{width:13px;height:13px;top:7px;left:9px;background-image:url(images/top_up/quicklook/sprite.png);background-position:-24px -181px} #top_up .te_flatlook .ui-resizable-se{width:10px !important;height:10px !important;bottom:22px !important;right:14px !important;background-image:url(images/top_up/flatlook/sprite.png) !important;background-position:-75px -181px !important}.te_flatlook .te_title{top:5px;text-shadow:1px 1px 2px #2A2A2A}.te_flatlook .te_corner,.te_flatlook .te_rib{background-image:url(images/top_up/flatlook/sprite.png)}.te_flatlook .te_top{height:26px}.te_flatlook .te_bottom{height:29px}.te_flatlook .te_left_filler,.te_flatlook .te_right_filler{width:21px}.te_flatlook .te_middle .te_middle{background:url(images/top_up/flatlook/middle.png) repeat-x top}.te_flatlook .te_top .te_left{background-position:0 0}.te_flatlook .te_top .te_middle{background-position:0 -29px}.te_flatlook .te_top .te_right{background-position:-89px 0}.te_flatlook .te_middle .te_left{background-position:0 -181px}.te_flatlook .te_middle .te_right{background-position:-89px -181px}.te_flatlook .te_bottom .te_left{background-position:0 -90px}.te_flatlook .te_bottom .te_middle{background-position:0 -58px}.te_flatlook .te_bottom .te_right{background-position:-89px -90px}.te_flatlook .te_content{margin:-2px -11px -3px -11px}.te_flatlook .te_controls{left:50%;width:66px;margin-left:-33px;bottom:18px}.te_flatlook .te_previous_link,.te_flatlook .te_next_link{width:31px;height:29px;margin:0 1px;background-image:url(images/top_up/flatlook/sprite.png)}.te_flatlook .te_previous_link{background-position:89px -195px}.te_flatlook .te_next_link{background-position:52px -195px}.te_flatlook .te_previous_link:hover{background-position:89px -226px}.te_flatlook .te_next_link:hover{background-position:52px -226px}.te_flatlook .te_close_link{width:13px;height:13px;top:6px;left:15px;background-image:url(images/top_up/flatlook/sprite.png);background-position:-24px -181px}</style>

	<meta name="viewport" content="width=1310;initial-scale=1.0;minimum-scale=1.0; maximum-scale=1.0">
	<link href="./MOLOME™_files/css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="./MOLOME™_files/style.css" type="text/css" media="all">
	<link rel="stylesheet" href="./MOLOME™_files/profile_slider.css" type="text/css" media="all">
	<link rel="shortcut icon" href="http://molo.me/favicon.ico">
	<title>MOLOME™</title>
    <script type="text/javascript" src="./MOLOME™_files/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="./MOLOME™_files/jquery.easing.min.js"></script>
    <script type="text/javascript" src="./MOLOME™_files/jquery.lavalamp.js"></script>
    <script type="text/javascript" src="./MOLOME™_files/jquery.elastic.source.js"></script>
	<script type="text/javascript" src="./MOLOME™_files/top_up-min.js"></script><script src="./MOLOME™_files/fxc-clip.uic-resizable.js" type="text/javascript" onload="TopUp.init()" onreadystatechange="TopUp.init()"></script>
	<script type="text/javascript" src="./MOLOME™_files/jquery.watermarkinput.js"></script>
	<script type="text/javascript" src="./MOLOME™_files/custom-checkbox.js"></script><style type="text/css">input.styled { display: none; } select.styled { position: relative; width: 190px; opacity: 0; filter: alpha(opacity=0); z-index: 5; } .disabled { opacity: 0.5; filter: alpha(opacity=50); }</style>
	<script type="text/javascript" src="./MOLOME™_files/jquery.sexyslider.min.js"></script>
	<script type="text/javascript" src="./MOLOME™_files/jquery.carousel.min.js"></script>
	<script type="text/javascript" src="./MOLOME™_files/jquery.tinyscrollbar.min.js"></script>
	<script type="text/javascript" src="./MOLOME™_files/jquery.liveready.js"></script>
	<script type="text/javascript" src="./MOLOME™_files/orbitaltooltip.js"></script>
	<script type="text/javascript" src="./MOLOME™_files/raphael-min.js"></script>
</head>
<body class="white" style="overflow: hidden;">
<div id="top-orange-line"></div>
<div id="top-bg-cloud-white-bg"><div id="top-bg-cloud-white"></div></div>
<div class="content-wrapper" style="height: 85px;">
	<div id="top-bar-wrapper">
		<span id="logo"><%= image_tag "logo.png"%></span>
		<span id="navigation">
			<div id="navigation-link-area">
				<ul class="lavaLampWithImage" id="1">
					<li class="current" style="display: none;"><a href="http://molo.me/" style="width: 0px; height: 30px;"></a></li>
					<li class="no-show"><a href="http://molo.me/" style="width: 81px; height: 34px;"></a></li>
					<li class="first"><a href="http://molo.me/pop" style="width: 70px; height: 34px;"></a></li>
					<li><a href="http://molo.me/photooftheday" style="width: 138px; height: 34px;"></a></li>
					<li><a href="http://molo.me/hot" style="width: 39px; height: 34px;"></a></li>
					<li><a href="http://molo.me/badge" style="width: 52px; height: 34px;"></a></li>
					<li><a href="http://molo.me/blog/category/tips/" style="width: 95px; height: 34px;"></a></li>
					<li><a href="http://support.molo.me/" style="width: 68px; height: 34px;" target="_blank"></a></li>
				<li class="back" style="left: 512px; width: 115px; opacity: 1; overflow: hidden;"><div class="left"></div></li></ul>
			</div>
		</span>
	</div>
</div><script type="text/javascript">
	var width,height;
	var line;
	var count = 0;
	var motions = new Array();
	var molo = new Image();
	var prevMotion = null;
	var paper = null;

	for(var i=0;i<80;i++){
		motions.push(Math.round(40*Math.sin(i/40*Math.PI)));
	}

	$(window).resize(function(event){
		width = $(document.body).width();
		if(paper != null){
			paper.setSize(width,height);
		}
		$('#molo-image').css('left', Math.floor((width - molo.width)*0.5));
	});

	$(document).ready(function(){
		molo.src = "<%= image_tag 'molome_404.png'%>";
		$('#molo').hide();

		width = window.innerWidth;//parseInt($(document.body).css('width').replace("px",""));
		height = 300;
		var imageWidth = parseInt($('#molo-image').css('width').replace("px",""));
		paper = Raphael(document.getElementById("rope-anim"), width, height);

		$("#1").lavaLamp({
            fx: "backout",
            speed: 700,
            click: function(event, menuItem) {
                return true;
            }
        });

		$('#error').css('height',$(document).height()-parseInt($('#error').css('padding-top').replace("px",""))-180+"px");

		$(document.body).css('overflow','hidden');


		var frontWidth = 250;
		var cloudFront = function(){
		$('#cloud-front').css('left',width+frontWidth);
			$('#cloud-front').animate({
				left: -frontWidth
			},12000,"linear",function(){
				setTimeout(cloudFront,100);
			});
		};
		cloudFront();

		var backWidth = 123;
		var cloudBack = function(){
		$('#cloud-back').css('left',width+backWidth);
			$('#cloud-back').animate({
				left: -frontWidth
			},24000,"linear",function(){
				setTimeout(cloudBack,100);
			});
		};
		cloudBack();

		var callback = function(){
			if(count != 0 && motions[count-1] == motions[count]){
				setTimeout(callback,20);
			}else{

				if(line != null){
					line.remove();
				}

				$('#molo').animate({marginTop:motions[count]},20,"linear",callback);

				line = paper.path("M0 80S"+Math.round(width/2)+" "+(prevMotion*2.325+135)+" "+width+" 80");
				line.attr("stroke", "#BBBBBB");
				line.attr("stroke-width", "3");
				//line.attr("stroke-opacity", "0.5");


			}

			prevMotion = motions[count];
			count = (count+1) % motions.length;
		};

		if (molo.complete){
			$('#molo').attr('src',molo.src);
			$('#molo').show();
			$('#molo-image').css('left', Math.floor((width - molo.width)*0.5));
			callback();
		}else{
			molo.onload = function(){
				$('#molo').attr('src',molo.src);
				$('#molo').show();
				$('#molo-image').css('left', Math.floor((width - molo.width)*0.5));
				callback();
			};
		}

	});
</script>

<%= image_tag "404_small_cloud.png" %>
<%= image_tag "404_big_cloud.png" %>

<div id="rope-anim" style="z-index:3;position:absolute;left:0px;top:60px"><svg height="300" version="1.1" width="1871" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.0.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="none" stroke="#bbbbbb" d="M0,80S936,176.85,1871,80" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
</div>
<div id="molo-image" align="center" style="position: absolute; top: 126px; z-index: 999; left: 766px;">
	<%= image_tag "molome_404.png", id: "molo", style: "display: inline; margin-top: 18px;" %>
</div>
<div id="error" style="text-align: center; padding-top: 450px; height: 338px;">
	<span style="font-size:36px;color:#7C999B;font-weight:bold">404 Error</span>
	<br>
	<span style="font-size:26px;color:#AAAAAA">page not found</span>
</div>



<div id="tu_overlay" onclick="TopUp.overlayClose()" style="display: none"></div><div id="top_up" class="te_top_up" style="display: none"><div class="te_wrapper"><div class="te_title"></div><table class="te_frame"><tbody><tr class="te_top"><td class="te_left te_corner"><div class="te_left_filler"></div></td><td class="te_middle te_rib"></td><td class="te_right te_corner"><div class="te_right_filler"></div></td></tr><tr class="te_middle"><td class="te_left te_rib"></td><td class="te_middle"><div class="te_content"><!-- Content --></div></td><td class="te_right te_rib"></td></tr><tr class="te_bottom"><td class="te_left te_corner"></td><td class="te_middle te_rib"></td><td class="te_right te_corner"></td></tr></tbody></table><div class="te_controls" style="display: none"><a class="te_previous_link" onclick="TopUp.previous()"></a><a class="te_next_link" onclick="TopUp.next()"></a></div><a class="te_close_link" onclick="TopUp.close()" style="display: none"></a></div></div><div id="temp_up" class="te_top_up te_transparent"><div class="te_wrapper"><div class="te_title"></div><table class="te_frame"><tbody><tr class="te_top"><td class="te_left te_corner"><div class="te_left_filler"></div></td><td class="te_middle te_rib"></td><td class="te_right te_corner"><div class="te_right_filler"></div></td></tr><tr class="te_middle"><td class="te_left te_rib"></td><td class="te_middle"><div class="te_content"><!-- Content --></div></td><td class="te_right te_rib"></td></tr><tr class="te_bottom"><td class="te_left te_corner"></td><td class="te_middle te_rib"></td><td class="te_right te_corner"></td></tr></tbody></table><div class="te_controls" style="display: none"><a class="te_previous_link" onclick="TopUp.previous()"></a><a class="te_next_link" onclick="TopUp.next()"></a></div><a class="te_close_link" onclick="TopUp.close()" style="display: none"></a></div></div><table id="tu_center_wrapper" style="display: none"><tbody><tr valign="middle"><td id="tu_centered_content" align="center"><!-- Top ups --></td></tr></tbody></table><div id="tu_loader" style="display: none"></div></body></html>
