<header id="header">
  <hgroup>
    <h1 class="site_title"><%= link_to "Welcome gikTuts Admin", '/gikadmin/index' %></h1>
    <h2 class="section_title">Dashboard</h2><div class="btn_view_site"><%= link_to "Wiew gikTuts", root_path %></div>
  </hgroup>
</header> <!-- end of header bar -->

<section id="secondary_bar">
  <div class="user">
    <p><%= current_user.name %> (<a href="#">3 Messages</a>)</p>
  </div>
  <%= render 'admin_layout/breadcrumb' %>
</section><!-- end of secondary bar -->

<aside id="sidebar" class="column">
  <form class="quick_search">
    <input type="text" value="Quick Search" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
  </form>
  <hr/>
  <h3>Content</h3>
  <ul class="toggle">
    <li class="icn_all_article"><%= link_to "Manage Article", "#" %></li>
    <li class="icn_new_article"><%= link_to "New Article", "#" %></li>
    <li class="icn_edit_article"><%= link_to "Edit Articles", "#" %></li>
    <li class="icn_categories"><%= link_to "Categories", "#" %></li>
    <li class="icn_tags"><%= link_to "Tags", "#" %></li>
  </ul>
  <h3>Users</h3>
  <ul class="toggle">
    <li class="icn_all_user"><%= link_to "Manage User", "#" %></li>
    <li class="icn_add_user"><%= link_to "Add New User", "#" %></li>
    <li class="icn_profile"><%= link_to "User Profile", "#" %></li>
  </ul>
  <h3>Media</h3>
  <ul class="toggle">
    <li class="icn_manage_video"><%= link_to "Manager Video", "#" %></li>
    <li class="icn_new_video"><%= link_to "New Video", "#" %></li>
    <li class="icn_edit_video"><%= link_to "Edit Video", "#" %></li>
    <li class="icn_delete_video"><%= link_to "Delete Video", "#" %></li>
  </ul>
  <h3>Admin</h3>
  <ul class="toggle">
    <li class="icn_manage_admins"><%= link_to "Manage Admin", "#" %></li>
    <li class="icn_profile"><%= link_to "Admin Profile", "#" %></li>
    <li class="icn_jump_back"><%= link_to "Logout", signout_path %></li>
  </ul>

  <footer>
    <hr />
    <p><strong>Copyright &copy; 2013 gikTuts Admin</strong></p>
  </footer>
</aside><!-- end of sidebar -->