<h3>Đóng góp ý kiến</h3>
<br />

<div class="row">
  <div class="span6 offset3">

<%= form_for @contact do |f| %>
      <% if @contact.errors.any? %>
        <ul>
          <% @contact.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>

      <div>
        <%= f.label :Tên %>
       <%= f.text_field :name , class: "form-control", placeholder: "tên của ", style: "width: 400px;"%>
     </div>

      <div>
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control", placeholder: "email của bạn", style: "width: 400px;" %>
      </div>

      <div>
        <%= f.label "Nội dung" %>
        <%= f.text_area :message, class: "form-control", rows: "3", style: "width: 400px; height: 350px;"%><br/>
      </div>

      <div>
        <%= f.submit "Gửi", class: "btn btn-lg btn-primary" %>
      </div>

    <% end %>

  </div>
</div>
