<br />

<% provide(:title, "Đăng ký") %>
<legend>Đăng ký tài khoản</legend>
<div class: "row">
  <div class: "span6 offset3">
    <%= form_for @gik_user do |gik_user| %>

     <% @my_errors = @gik_user.errors.entries.map { |e| e[0]} %>
     <div>
       <%= gik_user.label "Tên của bạn" %>
       <%= gik_user.text_field :name , class: @my_errors.include?(:name) ? "form-control error" : "form-control", placeholder: "Điền tên của bạn", style: "width: 400px;"%>
       <% if @my_errors.include?(:name) %>
         <p class="show-error"><%= @gik_user.errors.messages[:name][0] %></p>
       <% end %>
     </div>

     <div>
       <%= gik_user.label "Email của bạn" %>
       <%= gik_user.text_field :email , class: @my_errors.include?(:email) ? "form-control error" : "form-control", placeholder: "Điền email của bạn", style: "width: 400px;"%>
       <% if @my_errors.include?(:email) %>
         <p class="show-error"><%= @gik_user.errors.messages[:email][0] %></p>
       <% end %>
     </div>

      <div>
       <%= gik_user.label "Mật khẩu của bạn" %>
       <%= gik_user.text_field :password , class: @my_errors.include?(:password) ? "form-control error" : "form-control", placeholder: "Điền mật khẩu của bạn", style: "width: 400px;"%>
       <% if @my_errors.include?(:password) %>
         <p class="show-error"><%= @gik_user.errors.messages[:password][0] %></p>
       <% end %>
      </div>

      <div>
       <%= gik_user.label "Gõ lại mật khẩu" %>
       <%= gik_user.text_field :password_confirmation , class: @my_errors.include?(:password_confirmation) ? "form-control error" : "form-control", placeholder: "Gõ lại mật khẩu của bạn", style: "width: 400px;"%>
       <% if @my_errors.include?(:password_confirmation) %>
         <p class="show-error"><%= @gik_user.errors.messages[:password_confirmation][0] %></p>
       <% end %>
      </div>

      <br />
      <div>
        <%= gik_user.submit "Tạo tài khoản", class: "btn btn-lg btn-primary"  %>
      </div>

    <% end %>
  </div>
</div>

<style type="text/css">
.error{
  border: 2px solid #FF0000;
}

.show-error{
  color: #FF0000;
}
</style>


<script type="text/javascript">
  $("#gik_user_name, #gik_user_email, #gik_user_password, #gik_user_password_confirmation").keydown(function(){
    $(this).removeClass("error");
    $(this).parent().parent().find(".show-error").hide();
  });
</script>
