</br>
<h3>Đóng góp ý kiến</h3>
<br />

<%= form_for @contact, :url => new_contacts_path do |form| %>

    <div class="input-group">
      <span class="input-group-addon"><%= form.label :email %></span>
      <%= form.text_field :email, class: "form-control", placeholder: "Email" %>
    </div>

    <br />

    <div class="input-group">
      <span class="input-group-addon"><%= form.label :subject %></span>
      <%= form.text_field :subject, class: "form-control", placeholder: "Title subject" %>
    </div>

    <br />

    <div class="input-group">
      <span class="input-group-addon"><%= form.label :content %></span>
      <%= form.text_area :content, class: "form-control", placeholder: "Content" %>
    </div>

     <br />

    <%= form.submit "Send", class: "btn btn-primary" %>

<% end %>
