<!DOCTYPE html>
<html>
<head>
<title><%= full_title(yield(:title)) %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag "/vector.ico" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'main/header' %>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <br/>
  <br/>
  <br/>

  <%= render 'main/slogan' %>
  <%= render 'main/content' %>

  <%= render 'main/footer' %>
  <%= debug(params.inspect) if Rails.env == "development" %>
</body>
</html>

