<!DOCTYPE html>
<html>
<head>
  <title>GikTuts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
          <span class="icon-bar"></span>
       </button>
        <a class="navbar-brand" href="/"><%= image_tag "mylogo.png", size: "120x30" %></a>
      </div>
      
      <div class="navbar-collapse collapse" style="height: 1px;">
        <ul class="nav navbar-nav">
          <li><a href="/library">ThưViện Tuts</a></li>
          <li><a href="/team">Team</a></li>
          <li><a href="/donggop">Đóng Góp</a></li>
        </ul>

        <form class="navbar-form navbar-left" role="search">
          <div class="form-group" id="search_container">
            <input type="text" class="form-control search_text" placeholder="tìm video">
            <input type="submit" name="submit" class="search_submit" value>
          </div>
        </form>

        <%= render 'layouts/login' %>
        
      </div>
    </div>
  </div>

  <br/>
  <br/>
  <br/>

  <% if request.fullpath == "/" %>
    <div class="jumbotron">
       <div class="container">
           <h1>Xin Chào Các Geek IT</h1>
           <p>
             GikTuts muốn chia sẻ những kiến thức và mẹo vặt về lập trình, Unix, và những công nghệ mới liên quan đến công nghệ thông tin bằng những video ngắn gọn trừng 5 tới 10 phút. 
           </p>
           <p><a href="/library" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;Thư viện videos</a>
       </div>
    </div>
  <% end %>

  <div class="container">
    <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>

    <%= yield %>

    <hr/>
    <footer>
      <p>@GikTuts 2013</p>
    </footer>
  </div>


  <% if Rails.env == "development1" %>
    <br/>
    <br/>
    <br/>
    <%= debug params %>
  <% end %>
  
  
</body>
</html>

