<!DOCTYPE html>
<html>
<head>
<title><%= full_title_admin(yield(:title)) %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag "/vector.ico" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    $(document).ready(function() {
        $(".tablesorter").tablesorter();
    });

    $(document).ready(function() {
      $(".tab_content").hide(); //Hide all content
      $("ul.tabs li:first").addClass("active").show(); //Activate first tab
      $(".tab_content:first").show(); //Show first tab content

      $("ul.tabs li").click(function() {
        $("ul.tabs li").removeClass("active"); //Remove any "active" class
        $(this).addClass("active"); //Add "active" class to selected tab
        $(".tab_content").hide(); //Hide all tab content
        var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
        $(activeTab).fadeIn(); //Fade in the active ID content
        return false;
      });
    });
  </script>

  <script type="text/javascript">
    $(function(){
      $('.column').equalHeight();
    });
  </script>

  <!--Show clocl analog-->
  <script type="text/javascript">
    $(document).ready(function() {
      $('#analog-clock').clock({offset: '+5', type: 'analog'});
    });
  </script>
</head>

<body>
  <% unless current_user.blank? %>
    <% unless current_user.is_admin.blank? %>
      <%= render 'admin_layout/header' %>
      <%= render 'admin_layout/analog' %>
        <%= yield %>
    <% end %>
  <% else %>
    <h1>Error</h1>
  <% end %>
</body>
</html>

